body{
	background-color: lavender;
	margin: auto;
	width: 50%;
}
.signUpBoxes{
	margin: auto;
	text-align: center;
	width: 50%;
	float: right;
}
.loginBoxes{
	width:50%;
	text-align: center;
}
#signup{
	text-align: center;
}
input{
	text-align: center;
	margin-bottom: 10px;
}
.error{
	color: red;
}
#home{
	text-align: center;
}
.login{
	width: 80%;
}
#email,#password{
	width: 160px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
}