#header{
	height: 150px;
	width: 100%;
	text-align: right;
	position: relative;
	padding-bottom: 8px;
	padding-left: -10px;
	padding-top: -30px;
}
a{
	text-decoration: none;
  	font-family: 'Oxygen', sans-serif;
	color: white;
}
h1{
	text-align: center;
	padding-bottom: -20px;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}
#signup{
	float: right;
}
img{
	max-width: auto;
	height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
}
#contact{
	padding-right: 10px;
	position: relative;
	text-align: right;
	padding-bottom: 2px;
	color: black;
}
.navbar{
	background-color: #333;
	overflow: hidden;
}
.navbar a{
	float: left;
	display: block;
	color: darkgray;
	text-align: center;
	padding:  14px 16px;
}
.navbar a:hover{
	background-color: #ddd;
	color: black;
}
 .navbar a.active {
 	background-color: #04AA6D;
 	color: white;
 }
 .navbar .icon{
 	display: none;
 }
body{
	background-color: lightslategray;
	border: 1px solid black ;
}
.notice-board{
	margin-top: -60px;
	padding-bottom: 100px;
}
#address{
	padding-top: 10px;
	color: white;
}
.address{
	border-top: 1px solid black;
	background-color: black;
	position: fixed;
	bottom: 10px;
	width: 100%;
	margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }}
