#header{
	height: 120px;
	width: 100%;
	text-align: right;
	position: relative;
	margin-bottom: 20px;
	background-color: lavender;
	padding: -15px;
}
h1{
	text-align: center;
	padding-bottom: -20px;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	text-decoration-line: none;
}
#pic{
	position: relative;
}
#contact{
	padding-right: 10px;
	position: relative;
	text-align: right;
	justify-content: left;
}
.navbar{
	background-color: lightseagreen;
	text-align: left;
	position: absolute;
	width: 100%;
	padding-bottom: 5px;
}
body{
	background-color: white;
	border: 1px solid black ;
}
.notice-board{
	padding-top: 10px;
	padding-bottom: 20px;
	position: relative;
	border-top: 1px solid black;
	background-color: white;
	margin: auto;
}
#address{
	padding-top: 10px;
}
footer{
	border-top: 1px solid black;
	background-color: lavender;
}